h6 {
    font-weight: 400 !important;
}

a, a:hover {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-decoration: none !important;
    color: rgba(0,0,0,.5) !important;;
}

a:hover {
    color: rgb(60, 153, 248) !important;
}